<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We will remind you to do your diary every day in the evening!</string>
	<key>NewsKey</key>
	<string>f1f3468c3181496c84dcbec0af0a1ee8</string>
</dict>
</plist>
